<!-- BEGIN FOOTER -->
<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 footer-block">
                <h2>关于趣往</h2>
                <p> 基于地理位置的大学生活动共享平台 </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 footer-block">
                <h2>遇到问题</h2>
                <span class="margin-bottom-40"> 电话：15659568099
                            <br> 邮箱：
                            <a href="mailto:info@metronic.com">zhangfeng2333@gmail.com</a>
                        </span>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container">
        2017 &copy; 趣往 |&nbsp;闽ICP备15027119号
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->