<style>
  .page-description {
    float: left;
  }
</style>
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo" style="width: 75px;">
                <a href="/">
                    <img src="//omwkklawt.qnssl.com/logo_108x108.png" alt="logo" class="logo-default">
                </a>
            </div>
            <!-- END LOGO -->
            <div class="page-description">
              <h2>趣往</h2>
            </div>
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <div>
              <a href="javascript:;" class="menu-toggler"></a>
            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <% if (req.session && req.session.userid && req.session.authenticated) { %>

                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                    <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                    <!-- END NOTIFICATION DROPDOWN -->

                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>

                    <!-- BEGIN INBOX DROPDOWN -->
                    <!-- END INBOX DROPDOWN -->

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                           data-hover="dropdown" data-close-others="true">
                            <% if (req.session.icon) { %>
                            <img alt="icon" class="img-circle" src="<%= req.session.icon %>">
                            <% } else { %>
                            <img alt="icon" class="img-circle" src="http://image.funnyard.com/default-icon.jpg">
                            <% } %>
                            <span class="username"><%= req.session.nickname %></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <% if (req.session.role == 'user') { %>
                            <li>
                                <a href="/user_space">
                                    <i class="icon-user"></i> 个人信息 </a>
                            </li>
                            <% } else if (req.session.role == 'publisher') { %>
                            <li>
                                <a href="/publisher_space">
                                    <i class="icon-user"></i> 发布者信息
                                </a>
                            </li>
                            <li>
                                <a href="/publish">
                                    <i class="fa fa-edit"></i> 发布活动
                                </a>
                            </li>
                            <li>
                                <a href="/console">
                                    <i class="icon-settings"></i> 控制台
                                </a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/logout">
                                    <i class="icon-key"></i> 退出登录 </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                    <% } else { %>

                    <!--未登陆-->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <li class="quick-sidebar-toggler">
                        <span class="sr-only">Toggle Quick Sidebar</span>
                        <i class="icon-login" onclick="window.location = '/login'"></i><i
                                onclick="window.location = '/login'">登陆</i>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->

                    <% } %>
                </ul>

            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- 也就是菜单（SIDEBAR） -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">
            <!-- BEGIN HEADER SEARCH BOX -->
            <form class="search-form" action="/search" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索活动标题/地点/内容" name="key">
                    <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit" style="border: 0px;color: transparent !important;padding: 0 !important;background: transparent;">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu">
                <ul class="nav navbar-nav">
                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                        <a href="/"> 首页
                            <span class="arrow"></span>
                        </a>

                    </li>
                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown">
                        <a href="/activities"> 活动总览
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <!--<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">-->
                        <!--<a href="/party"> 社团活动-->
                            <!--<span class="arrow"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  mega-menu-full">-->
                        <!--<a href="/exhibition"> 展览演出-->
                            <!--<span class="arrow"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">-->
                        <!--<a href="/sports"> 体育赛事-->
                            <!--<span class="arrow"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">-->
                        <!--<a href="/part-time-job"> 兼职快讯-->
                            <!--<span class="arrow"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
