<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>登陆趣往</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="http://assets.funnyard.com/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://assets.funnyard.com/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="http://assets.funnyard.com/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="http://assets.funnyard.com/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="http://assets.funnyard.com/pages/css/login-2.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="assets/layouts/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="http://assets.funnyard.com/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="http://assets.funnyard.com/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<% include header%>

<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="/">
        <img src="/assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" /> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="/user_login" method="post" enctype="multipart/form-data">
        <div class="form-title">
            <span class="form-title">欢迎，</span>
            <span class="form-subtitle">请登陆</span>
        </div>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> 请输入用户名和密码 </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">ID或手机号码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="ID或手机号码" name="Name" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="PassWd" /> </div>
        <div class="form-actions">
            <button type="submit" class="btn red btn-block uppercase" id="login-btn">登陆</button>
        </div>
        <div class="form-actions">
            <div class="pull-left forget-password-block">
                <a href="javascript:;" id="forget-password" class="forget-password">忘记密码</a>
            </div>
            <div class="pull-right forget-password-block">
                <a id="change-role" class="forget-password">发布者登陆</a>
            </div>
        </div>
        <!--<div class="login-options">-->
            <!--<h4 class="pull-left">Or login with</h4>-->
            <!--<ul class="social-icons pull-right">-->
                <!--<li>-->
                    <!--<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="create-account">
            <p>
                <a href="javascript:;" class="btn-primary btn" id="register-user-btn">
                    加入趣往
                </a>
            </p>
            <p>
                <a href="javascript:;" class="btn-primary btn" id="register-publisher-btn">
                    成为活动发布者
                </a>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->

    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
        <div class="form-title">
            <span class="form-title">Forget Password ?</span>
            <span class="form-subtitle">Enter your e-mail to reset it.</span>
        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default">Back</button>
            <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->

    <!-- BEGIN USER REGISTRATION FORM -->
    <form class="register-user-form" action="/register_user" method="post">
        <div class="form-title">
            <span class="form-title">成为用户</span>
        </div>
        <p class="hint"> 输入信息 </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">名字</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="名字" name="name"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户ID</label>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="用户ID只能包含汉字与字母数字，3~15个字符"
                   name="userid"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                   id="register_user_password"
                   placeholder="密码" name="password"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">确认密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="重新输入密码" name="repassword"/>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="control-label visible-ie8 visible-ie9">手机号码</label>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="输入手机号码" name="phone_num" id="user_phone_num"/>
                <span class="input-group-btn">
                    <button class="btn green verify-user-btn mt-ladda-btn ladda-button" data-style="slide-left" type="button">
                        <span class="ladda-label">发送验证码</span>
                    </button>
                </span>
                <input class="form-control placeholder-no-fix" placeholder="输入6位验证码" name="verify_code">
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="register-user-back-btn" class="btn btn-default">返回</button>
            <button type="submit" id="register-user-submit-btn" class="btn red uppercase pull-right">注册</button>
        </div>
    </form>
    <!-- END USER REGISTRATION FORM -->

    <!-- BEGIN PUBLISHER REGISTRATION FORM -->
    <form class="register-publisher-form" action="/register_publisher" method="post" enctype="multipart/form-data">
        <div class="form-title">
            <span class="form-title">成为发布者</span>
        </div>
        <p class="hint"> 输入信息 </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">社团名</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="社团名" name="name"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">发布者ID(用于登录)</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="发布者ID(用于登录)" name="userid"/></div>
        <div class="form-group">
            <div class="input-group">
                <label class="control-label visible-ie8 visible-ie9">手机号码</label>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="输入手机号码" name="phone_num" id="publisher_phone_num"/>
                <span class="input-group-btn">
                    <button class="btn green verify-publisher-btn mt-ladda-btn ladda-button" data-style="slide-left" type="button">
                        <span class="ladda-label">发送验证码</span></button>
                </span>
                <input class="form-control placeholder-no-fix" placeholder="输入6位验证码" name="verify_code">
            </div></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                   id="register_publisher_password"
                   placeholder="密码" name="password"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">重复密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="重复密码" name="repassword"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">注册码</label>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="注册码" name="publisher_code"/></div>
        <div class="form-actions">
            <button type="button" id="register-publisher-back-btn" class="btn btn-default">返回</button>
            <button type="submit" id="register-publisher-submit-btn" class="btn red uppercase pull-right">注册
            </button>
        </div>
    </form>
    <!-- END PUBLISHER REGISTRATION FORM -->
</div>
<!-- END LOGIN -->
<!--[if lt IE 9]>
<script src="http://assets.funnyard.com/global/plugins/respond.min.js"></script>
<script src="http://assets.funnyard.com/global/plugins/excanvas.min.js"></script>
<script src="http://assets.funnyard.com/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="http://assets.funnyard.com/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://assets.funnyard.com/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/bootstrap-confirmation/bootstrap-confirmation.js"></script>
<script src="http://assets.funnyard.com/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="http://assets.funnyard.com/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/login.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/ui-confirmations.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/ui-buttons.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="http://assets.funnyard.com/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="http://assets.funnyard.com/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>