<form method="post" action="/user_login">
    <label for="Name">ID或手机号：</label>
    <input name="Name" type="text" id="Name">
    <br/>
    <label for="PassWd">密码：</label>
    <input name="PassWd" type="password" id="PassWd">
    <br/>
    <button type="submit">登录</button>
    <a href="/forget_password">忘记密码</a>
</form>
