<script>

</script>
<form method="post" action="/login">
  <label for="Name">用户名或手机号：</label>
  <input name="Name" type="text" id="Name">
  <br/>
  <label for="PassWd">密码：</label>
  <input name="PassWd" type="password" id="PassWd">
  <br/>
  <button type="submit">登录</button>
  <button type="submit">登录</button>
</form>
