<div align="center">
  <a href="/register_user"><i><img src="images/user_register.png" alt="user"></i></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/register_publisher"><img src="images/publisher_register.png" alt="publisher"></a>
</div>
